### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "/Users/danielleb./Documents/GitHub/Pandas-Challenge-/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "/Users/danielleb./Documents/GitHub/Pandas-Challenge-/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])


school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [9]:
#Calculate the total number of schools
total_Schools = school_data_complete["school_name"].count

# Calculate the total number of students
total_students = school_data_complete['student_name'].count()

# Calculate the total budget
total_budget = school_data['budget'].sum()

# Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()

# Calculate the average reading score
average_read_score = school_data_complete['reading_score'].mean()




#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70, :]

top_math = passing_math.count()/total_students * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_read = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]

top_read = passing_read.count()/total_students *100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
passed_both = school_data_complete.loc[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70), :]

overall_pass = passed_both.count()/total_students * 100







#Create a dataframe to hold the above results

District_Summary = pd.DataFrame({"Total Schools": total_Schools,
                                "Total Students": total_students, 
                                "Total Budget": total_budget, 
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_read_score,
                                "% Passing Math": top_math,
                                "% Passing Reading": top_read,
                                "% Overall Passing": overall_pass})

District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Student ID,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
student_name,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
gender,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
grade,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
school_name,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
reading_score,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
math_score,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
School ID,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
type,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
size,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
budget,<bound method Series.count of 0 Huang ...,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type